.fadeIn {
  animation: fade 500ms;
}

.fadeOut {
  animation: fadeout 500ms;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.systemMessage {
  background-color: rgb(168, 168, 168);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerRow {
  background-color: rgb(247, 247, 247);
}

.chatMessageSection {
  background-color: rgb(247, 247, 247);
}

.practiceButtonContainer {
  background-color: rgb(247, 247, 247);
}

.practiceButton {
  color: white;
  background-color: purple;
}
